body {
    background-color: #293462;
}
h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
}

#name {
 color: #a64942;
}

#headshot {
    background-image: url("https://instagram.fsan1-2.fna.fbcdn.net/vp/1dc27fbedd96e86ebbafce9775ae01f1/5DC6117C/t51.2885-15/e35/60530507_1186106294883349_4502747263665907193_n.jpg?_nc_ht=instagram.fsan1-2.fna.fbcdn.net");
}

#portfolio-btn {
    margin-right: 25px;
}

p {
 font-family: 'Open Sans', sans-serif; 
}

#bio {
    color: #fff1c1;
}

/* 
Blue: #293462
Rust: #a64942
Orange: #fe5f55
Tan: #fff1c1

*/